.button {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #D77206;
    border-radius: 5px;
    box-shadow: 0 0 0 0px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
    margin-left: 6px;
    margin-right: 6px;

}
.button:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
    margin-left: 6px;
    margin-right: 6px;
}

.myinput{
    border: 1px solid #cccccc; /*цвет рамки*/
    border-radius: 3px; /*закругление углов (общее)*/
    -webkit-border-radius: 3px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 3px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 3px; /*закругление углов (Safari)*/
    background: #ffffff !important; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
    outline: none; /* удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
    height: 24px; /* высота на свое усмотрение*/
    width: 120px; /* ширина на свое усмотрение*/
    color: #000000; /*цвет шрифта в обычном состоянии*/
    font-size: 11px; /* Размер шрифта*/
    font-family: Tahoma; /* Стиль шрифта*/
    margin-left: 6px;
    margin-right: 6px;
}
.AddTask-input{
    margin-top: 6px;
}